<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artists api</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <nav>
      <h1 class="title">ARTIS</h1>
    </nav>
    <main>
      <div class="container">
        <h4>Add a new artist to the list</h4>
        <form action="/api/post" method="POST">
          <input type="text" placeholder="Alias" name="alias" />
          <input type="text" placeholder="Birth Name" name="name" />
          <input type="submit" />
        </form>
        <h4>Current artists</h4>
        <ul class="list">
          <% for(let i=0; i < info.length; i++) {%>
          <li class="artist">
            <span><%= info[i].alias %></span>
            <span><%= info[i].name %></span>
            <span><%= info[i].likes %></span>
            <span class="likes">like</span>
            <span class="delete">delete</span>
          </li>
          <% } %>
        </ul>
      </div>
    </main>

    <script src="./js/main.js"></script>
  </body>
</html>
